@font-face {
    font-family: cursed timer ulil;
    font-style: normal;
    font-weight: 400;
    src: local('Cursed Timer ULiL'), url(https://fonts.cdnfonts.com/s/40642/CursedTimerUlil-Aznm.woff) format('woff')
}